@page "/"
@inherits IndexPageBase

@if (HasLoaded)
{
    <button @onclick="@Reset">Reset</button>
    <GameOfLife Width=@Width Height=@Height @ref=@GameOfLifeRef>
        <canvas width="@Width" height="@Height"></canvas>
    </GameOfLife>
}